In [1]:
# import all the packages
from pandas import read_csv,DataFrame
import matplotlib.pyplot as plt
import numpy as np
import matplotlib.pyplot as plt
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import confusion_matrix

In [2]:
from imblearn import over_sampling

Using TensorFlow backend.

In [3]:
#reading all the files

train = read_csv('aps_failure_training_set.csv')

test = read_csv('aps_failure_test_set.csv')

In [4]:
test.head()

,class,aa_000,ab_000,ac_000,ad_000,ae_000,af_000,ag_000,ag_001,ag_002,...,ee_002,ee_003,ee_004,ee_005,ee_006,ee_007,ee_008,ee_009,ef_000,eg_000
0,neg,60,0,20,12,0,0,0,0,0,...,1098,138,412,654,78,88,0,0,0,0
1,neg,82,0,68,40,0,0,0,0,0,...,1068,276,1620,116,86,462,0,0,0,0
2,neg,66002,2,212,112,0,0,0,0,0,...,495076,380368,440134,269556,1315022,153680,516,0,0,0
3,neg,59816,na,1010,936,0,0,0,0,0,...,540820,243270,483302,485332,431376,210074,281662,3232,0,0
4,neg,1814,na,156,140,0,0,0,0,0,...,7646,4144,18466,49782,3176,482,76,0,0,0

In [5]:
# As we look there are no null values

train.isnull().sum()

class     0
aa_000    0
ab_000    0
ac_000    0
ad_000    0
         ..
ee_007    0
ee_008    0
ee_009    0
ef_000    0
eg_000    0
Length: 171, dtype: int64

In [6]:
# ‘all’, list-like of dtypes or None (default), optional

train.describe(include='all')

,class,aa_000,ab_000,ac_000,ad_000,ae_000,af_000,ag_000,ag_001,ag_002,...,ee_002,ee_003,ee_004,ee_005,ee_006,ee_007,ee_008,ee_009,ef_000,eg_000
count,60000,6.000000e+04,60000,60000,60000,60000,60000,60000,60000,60000,...,60000,60000,60000,60000,60000,60000,60000,60000,60000,60000
unique,2,NaN,30,2062,1887,334,419,155,618,2423,...,34489,31712,35189,36289,31796,30470,24214,9725,29,50
top,neg,NaN,na,0,na,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
freq,59000,NaN,46329,8752,14861,55543,55476,59133,58587,56181,...,1364,1557,1797,2814,4458,7898,17280,31863,57021,56794
mean,NaN,5.933650e+04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,1.454301e+05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,0.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,8.340000e+02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,3.077600e+04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,4.866800e+04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,2.746564e+06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Storing the Variable

In [7]:
# Saving the output in a variable

y_train =train['class']

train = train.drop(['class'],axis=1)

y_train = DataFrame(y_train)

y_train = y_train['class'].map({'neg':0,'pos':1})

In [8]:
# trying to replace the na values with Nan

train.replace(to_replace=['na','nan'],value = np.NaN,inplace=True)

In [9]:
#  by describing the data with including all, it reveals the true colors of the data

train.isnull().sum()

aa_000        0
ab_000    46329
ac_000     3335
ad_000    14861
ae_000     2500
          ...
ee_007      671
ee_008      671
ee_009      671
ef_000     2724
eg_000     2723
Length: 170, dtype: int64

# Dropping Null Values

In [10]:
# using this we can bring down the values, with feature comprising 42000 datapoints

# while dropping the values, we need not used the varaible for storing the dataframe after clipping
 
train.dropna(axis = 1, thresh=42000,inplace= True)

In [11]:
# using the Simple Imputer , impute the values using the strategy as median 

# define the imputer, enabling the strategy required, as the missing values are stored as np.Nan

impute_median = SimpleImputer(missing_values=np.nan,strategy='median',copy=True,verbose=2)

In [12]:
# after application of the data, save it in a dataframe

train_imputed = DataFrame(impute_median.fit_transform(train),columns=train.columns)

In [13]:
# looking at the shape of the obtained new dataframe

train_imputed.shape

(60000, 160)

Saving the target variable of train

# Test Dataset

In [14]:
# Saving the output in a variable for test dataset

y_test =test['class']

test = test.drop(['class'],axis=1)

y_test = DataFrame(y_test)

y_test = y_test['class'].map({'neg':0,'pos':1})

In [15]:
# replacing the na and nan values with test values

test.replace(to_replace=['na','nan'],value = np.NaN,inplace=True)

In [16]:
# imputing the median

test_imputed = DataFrame(impute_median.fit_transform(test),columns=test.columns)

In [17]:
# dropping the same columns as that of train dataset

test_imputed= test_imputed.drop(['ab_000','bk_000','bl_000','bm_000','bn_000','bo_000','bp_000','bq_000','br_000','cr_000'],axis=1)

# Sampling

# Sampling is a technique used in classification , if one class has higher frequency and the other has least supporting frequency Ex: 1st Class 95 % 2nd Class 5 %. Due to that , there is a possiblity of features might result in much False Negative

In [18]:
# As the sampling has to be done "DEPENDENT VARIABLE" must be restored

train_imputed['class'] = y_train

train = DataFrame(train_imputed)

In [19]:
# Undersampling the negative class

train_sampled = train_imputed[train_imputed['class'] == 0].sample(n = 10000,random_state = 42)

In [20]:
train_Sampled = train_imputed[train_imputed['class'] == 1].append(train_sampled)

In [21]:
y_train = train_Sampled['class']

train_Sampled.drop(['class'],axis = 1, inplace= True)

In [22]:
# Upsampling the positive class using Smote Technique

sm = over_sampling.SMOTE()

trained_Smote, y_train = sm.fit_sample(train_Sampled,y_train)

# Standardisation

In [23]:
std = StandardScaler()

x_train = std.fit_transform(trained_Smote)

In [24]:
# As the scaling parameters are learnt on the train data, we do not use fit and transform

x_test = std.transform(test_imputed)

# Unlike other datasets, we need not split the data.....here we fully use train data for training the model and predict the test set as it provided with the solution

# Model Building

In [25]:
log_mod = LogisticRegression()

In [26]:
log_mod.fit(x_train,y_train)

C:\Users\Gowrav Tata\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [27]:
y_pred = log_mod.predict(x_test)

# Evaluation of Model

In [28]:
confusion_matrix = confusion_matrix(y_test,y_pred)
print('Confustion Matrix :' ,'\n', confusion_matrix)

Confustion Matrix :
 [[15252   373]
 [   33   342]]

# The datasets'
positive class consists of component failures
for a specific component of the APS system.
The negative class consists of trucks with failures
for components not related to the APS. The data consists
of a subset of all available data, selected by experts.

-- Challenge metric

Cost-metric of miss-classification:

Predicted class | True class |
| pos | neg |
-----------------------------------------
pos | - | Cost_1 |
-----------------------------------------
neg | Cost_2 | - |
-----------------------------------------
Cost_1 = 10 and cost_2 = 500

The total cost of a prediction model the sum of 'Cost_1'
multiplied by the number of Instances with type 1 failure
and 'Cost_2' with the number of instances with type 2 failure,
resulting in a 'Total_cost'.

In this case Cost_1 refers to the cost that an unnessecary
check needs to be done by an mechanic at an workshop, while
Cost_2 refer to the cost of missing a faulty truck,
which may cause a breakdown.

Total_cost = Cost_1*No_Instances + Cost_2*No_Instances.

In [29]:
False_Positive = confusion_matrix[0][1]
False_Negative = confusion_matrix[1][0]

In [30]:
print(f"Type 1 error (False Positive) =  {False_Positive}")
print(f"Type 2 error (False Negative) = {False_Negative}")

Type 1 error (False Positive) =  373
Type 2 error (False Negative) = 33

In [31]:
print(f"Total cost = {False_Positive * 10 + False_Negative * 500}")

Total cost = 20230